/* Variables */
:root {
  --color-main: #e01f26;
}

/* Global styles */
html {
  font-size: 62.5%; /* sets the 1rem = to 10px */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans", sans-serif;
  background: #ededed;
  padding: 2rem;
  /* background-image: url(../img/back.jpg);
  background-size: 1000px;
  background-repeat: repeat;
  opacity: 0.9; */
}

.container {
  margin: 0 auto;
  width: 80%;
  background: white;
  border-radius: 10px;
}

.thing-text {
  font-weight: 100;
}

h1 {
  margin: 0;
  font-size: 1.9rem;
  color: #fff;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 900;
}

h3 {
  font-size: 1.6rem;
  color: #3d3b3b;
  padding: 0 10px;
}

hr {
  display: block;
  height: 4px;
  border: 0;
  border-top: 2px solid #fff;
}

p {
  font-size: 1.6rem;
  color: #3d3b3b;
}

.bullet-header {
  background: #53d3fd;
  color: white;
  padding: 4rem 0;
}

.bullet-head {
  margin: 60px 0 10px 0;
}

img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.text-center {
  text-align: center;
  padding: 10px 10px;
}

.letter-spacing {
  letter-spacing: 0.5px;
  line-height: 4.5rem;
}

/* Section one */

.header {
  background-color: #4d6487;

  border-radius: 10px 10px 0 0;
  height: auto;
  padding: 3rem 2rem 3rem 2rem;
}
#hero-img {
  margin-bottom: 3rem;
}

.header__text {
  padding: 2rem 0;
}

.hero__sub-header {
  text-align: center;
  padding: 0 1rem;
}

.ctn-text {
  color: #af0000;
  margin: 4rem 0;
}

button {
  padding: 10px 40px;
}

.btn-button {
  background-color: #ffa724;
  border: none;

  text-align: center;

  display: inline-block;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 900;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 10px #666666;
  -moz-box-shadow: 0px 3px 10px #666666;
  box-shadow: 0px 3px 10px #666666;
  cursor: pointer;
}

.url-tag {
  text-decoration: none;
  color: black;
}

.url-tag {
  background-color: cyan;
}

.btn-button:hover {
  background: #ffb042;
  background-image: -webkit-linear-gradient(top, #ffb042, #e78402);
  background-image: -moz-linear-gradient(top, #ffb042, #e78402);
  background-image: -ms-linear-gradient(top, #ffb042, #e78402);
  background-image: -o-linear-gradient(top, #ffb042, #e78402);
  background-image: linear-gradient(to bottom, #ffb042, #e78402);
  text-decoration: none;
}

/* section two */

.bulletPoints p {
  padding: 10px;
}

.fa {
  color: #f0b136;
  font-size: 3.2rem;
  padding-right: 2px;
}

/* section three */

.imgSection {
  margin-bottom: 63px;
}

.imgSection h2 {
  margin: 40px 0;
  font-weight: 300;
}

.imgSection p {
  margin-bottom: 43px;
}

.imgSection__gallery img {
  width: 90%;
  height: 200px;
}

/* instructions area */

.instructions p {
  padding: 0 50px;
  margin-bottom: 43px;
}

.final-img {
  margin-top: 4rem;
}

#myImg {
  max-width: 60%;
  height: auto;
}

/* styling paragraphs */
.hero__text {
  padding: 0 2rem;
  font-weight: 200;
}

/* images styling */

.img-center {
  text-align: center;
}

/* Modal button */

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-images {
  display: none;
  position: fixed;
  z-index: 2;
  padding-top: 10rem;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.918);
}

.modal-content-images {
  background-color: #f4f4f4;
  margin: auto;
  padding: 10px;
  height: auto;
  width: 90%;
  box-shadow: 0 5px 8px 0 rgba(0.2), 0 7px 20px 0 rgba(0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1s;
}

.model-box {
  text-align: center;
}

.modal-content {
  background-color: #f4f4f4;
  margin: 5% auto;
  padding: 20px;
  height: auto;
  width: 40%;
  box-shadow: 0 5px 8px 0 rgba(0.2), 0 7px 20px 0 rgba(0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1s;
}

.modal-box {
  text-align: center;
}

.model-email,
.modal-button {
  width: 90%;
  min-height: 40px;
}

.model-email {
  font-size: 1rem;
  text-align: center;
}

.modal-button {
  margin-top: 20px;
  padding: 0;
  font-size: 1.2rem;
  background-color: rgb(175, 0, 0);
  border: none;
  color: white;
  font-weight: 900;
  -webkit-box-shadow: 0px 3px 10px #666666;
  -moz-box-shadow: 0px 3px 10px #666666;
  box-shadow: 0px 3px 10px #666666;
  cursor: pointer;
}

.modal-button:hover {
  background: rgb(243, 19, 19);
  background-image: -webkit-linear-gradient(top, rgb(175, 0, 0), #970303);
  background-image: -moz-linear-gradient(top, rgb(175, 0, 0), #970303);
  background-image: -ms-linear-gradient(top, rgb(175, 0, 0), #970303);
  background-image: -o-linear-gradient(top, rgb(175, 0, 0), #970303);
  background-image: linear-gradient(to bottom, rgb(175, 0, 0), #970303);
  text-decoration: none;
}

.modal-text {
  padding: 0;
  margin: 0;
  text-align: center;
}

.modal-para {
  font-style: italic;
  text-align: center;
  font-weight: 100;
  margin-top: 10px;
  font-size: 1.2rem;
}

.closeBtn {
  color: #ccc;
  float: right;
  font-size: 30px;
}

.closeBtn:hover,
.closeBtn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* The Modal (background) */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content-images,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.section-seven {
  background-color: #494748;
  padding: 10px;
  border-radius: 0 0 10px 10px;
}

.section-seven p {
  color: #fff;
}

.section-seven a {
  color: rgb(24, 24, 24);
  text-decoration: none;
}

/* responsive styles  */

*,
*:before,
*:after {
  box-sizing: inherit;
}

.grid {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.grid:before,
.grid:after,
.row:before,
.row:after {
  content: "";
  display: table;
}

.grid:after,
.row:after {
  clear: both;
}

[class*="col-"] {
  width: 100%;
  float: left;
  min-height: 1px;
}

.col {
  margin: 5px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  text-align: center;
}

@media screen and (min-width: 230px) {
  .col-wd-1 {
    width: 8.33333%;
  }
  .col-wd-2 {
    width: 16.66667%;
  }
  .col-wd-3 {
    width: 25%;
  }
  .col-wd-4 {
    width: 33.33333%;
  }
  .col-wd-5 {
    width: 41.66667%;
  }
  .col-wd-6 {
    width: 50%;
  }
  .col-wd-7 {
    width: 58.33333%;
  }
  .col-wd-8 {
    width: 66.66667%;
  }
  .col-wd-9 {
    width: 75%;
  }
  .col-wd-10 {
    width: 83.33333%;
  }
  .col-wd-11 {
    width: 91.66667%;
  }
  .col-wd-12 {
    width: 100%;
  }
}

@media screen and (min-width: 640px) {
  .col-md-1 {
    width: 8.33333%;
  }
  .col-md-2 {
    width: 16.66667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-5 {
    width: 41.66667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333%;
  }
  .col-md-8 {
    width: 66.66667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333%;
  }
  .col-md-11 {
    width: 91.66667%;
  }
  .col-md-12 {
    width: 100%;
  }

  h1 {
    margin: 0;
    font-size: 3.5rem;
    color: white;
    text-align: center;
  }

  h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
  }

  h3 {
    font-size: 2.6rem;
    color: #3d3b3b;
    padding: 0 10px;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #fff;
  }

  p {
    font-size: 2.4rem;
    color: #3d3b3b;
  }

  /* section one */

  button {
    padding: 20px 100px;
  }

  /* section three */

  .col {
    margin: 0;
    border-radius: 3px;
    box-shadow: none;
    text-align: center;
  }

  .btn-button {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 960px) {
  .col-sm-1 {
    width: 8.33333%;
  }
  .col-sm-2 {
    width: 16.66667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333%;
  }
  .col-sm-5 {
    width: 41.66667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333%;
  }
  .col-sm-8 {
    width: 66.66667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333%;
  }
  .col-sm-11 {
    width: 91.66667%;
  }
  .col-sm-12 {
    width: 100%;
  }

  .modal-content-images {
    height: auto;
    width: 40%;
  }
}
